.exp {
    width: 100%;
    h1 {
        margin-top: 45px;
        margin-left: 670px;
        color: #0fbfbf;
    }
    .uk-grid-small {
        .par {
            width: 500px;
            height: max-content;
        }
        margin-left: 45px;
        #more1,
        #more2,
        #more3 {
            display: none;
        }
        #mybtn1,
        #mybtn2,
        #mybtn3 {
            &:hover {
                background-color: #000000;
            }
            color: white;
            width: auto;
            height: 30px;
            background-color: #0fbfbf;
            border: none;
        }
    }
}
