body {
    background-color: #9be2e2;
    height: 4200px;
    header {
        width: 100%;
        height: 100px;
        background-color: #9bdcdc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            margin-top: 42px;
            height: 170px;
            img {
                width: 170px;
            }
        }
        .navbar {
            margin-right: 100px !important;
            width: 500px;
            ul {
                display: flex;
                justify-content: space-evenly;
                @include resetList();
                a {
                    &:hover {
                        color: rgb(111, 241, 241);
                    }
                    text-decoration: none;
                    color: whitesmoke;
                }
            }
        }
    }
    .sticky {
        z-index: 100;
        margin-top: -40px;
        background-color: #0fbfbf;
        position: fixed;
    }
    .my-img {
        margin-top: 40px;
        width: 100%;
        .ein-img {
            margin-top: -17px;
            margin-left: 150px;
            img {
                border-style: solid;
                border-color: rgb(255, 255, 255);
                border-radius: 126px;
                height: 259px;
                width: 262px;
            }
        }
        .text-area {
            margin-left: 122px;
            max-width: 600px;
            h1 {
                height: 50px;
                overflow: hidden;
                /* Ensures the content is not revealed until the animation */
                white-space: nowrap;
                /* Keeps the content on a single line */
                margin: 0 auto;
                /* Gives that scrolling effect as the typing happens */
                letter-spacing: 0.15em;
                /* Adjust as needed */
                animation: typing 2.5s steps(40, end);
                color: azure;
                width: 700px;
            }
            @keyframes typing {
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }
            /* The typewriter cursor effect */
            p {
                font-size: 30px;
                color: azure;
            }
            .read {
                padding: 10px;
                height: 30px;
                width: 120px;
                background-color: #41d6d6;
                border-radius: 5px;
                &:hover {
                    background-color: #5decbb;
                }
                a {
                    font-weight: bolder;
                    font-family: $primary-font;
                    color: black;
                    margin-left: 7px;
                    margin-top: 4px;
                    text-decoration: none;
                }
            }
        }
    }
}